.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 5px 6px 19px 10px rgba(0,0,0,0.24); 
    box-shadow: 5px 6px 19px 10px rgba(0,0,0,0.24);
}

.chart__Title{
    margin-bottom: 20px;
}